#map div.leaflet-marker-pane div.state-wait {
    background-image: url("icons/wait.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-wait {
    background-color: #fffc8d;
}

#map div.leaflet-marker-pane div.state-0 {
    background-image: url("icons/0.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-0 {
    background-color: white;
}

#map div.leaflet-marker-pane div.state-1 {
    background-image: url("icons/1.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-1 {
    background-color: #ff8580;
}

#map div.leaflet-marker-pane div.state-2 {
    background-image: url("icons/2.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-2 {
    background-color: #ff4b41;
}

#map div.leaflet-marker-pane div.state-3 {
    background-image: url("icons/3.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-3 {
    background-color: #a99200;
}

#map div.leaflet-marker-pane div.state-4 {
    background-image: url("icons/4.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-4 {
    background-color: #ffa8da;
}

#map div.leaflet-marker-pane div.state-5 {
    background-image: url("icons/5.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-5 {
    background-color: #b0ffa3;
}

#map div.leaflet-marker-pane div.state-6 {
    background-image: url("icons/6.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-6 {
    background-color: #a99200;
}


#map div.leaflet-marker-pane div.state-7 {
    background-image: url("icons/7.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-7 {
    background-color: #ffa8da;
}


#map div.leaflet-marker-pane div.state-8 {
    background-image: url("icons/8.png");
}

#sidebarVisibleObjectsTable div.dgrid-row.state-8 {
    background-color: #b0ffa3;
}
