<div class="search-objects">
    <div class="input-field col s12">
        <input placeholder="Код (мин. 3 символа)" id="searchByCode" type="text">
    </div>
    <div class="input-field col s12">
        <input placeholder="Название (мин. 3 символа)" id="searchByName" type="text">
    </div>
    <div class="col s12">
        <a id="searchBtn" class="waves-effect waves-light btn btn-small right"><i class="fa fa-search fa-1g left"></i>Найти</a>
    </div>
    <div class="col s12 search-result-table-wrapper">
        <div id="searchResultTable"></div>
    </div>
</div>